@using Microsoft.AspNetCore.Http;
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menu</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="#"><i class="fa fa-home"></i> <span>Home</span></a></li>
    @if (@Context.Session.GetString("Role") == "Student")
    {
        <li><a href="@Url.Action("Register","Account")"><i class="fa fa-user"></i> <span>Shto perdorues</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Kategorite e dokumenteve</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index","DocumentCategory")">Lista e kategorive</a></li>
                <li><a href="@Url.Action("Create","DocumentCategory")">Shto kategori</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i> <span>Dokumentat</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("GenerateStudentCertificate","Documents")"><i class="fa fa-file"></i> <span>Gjenero vertetim studenti</span></a></li>
                <li><a href="@Url.Action("AddDocument","Documents")"><i class="fa fa-file"></i> <span>Shto Dokument</span></a></li>
                <li><a href="@Url.Action("StudentsDocuments","Documents")"><i class="fa fa-file"></i> <span>Dokumentat e studentit</span></a></li>
                <li><a href="@Url.Action("TeacherPortofolioDocuments","Documents")"><i class="fa fa-file"></i> <span>Portofoli i mesuesit</span></a></li>
                <li><a href="@Url.Action("TeacherSubjectsPlans","Documents")"><i class="fa fa-file"></i> <span>Planet e lendes</span></a></li>
                <li><a href="@Url.Action("UserPrivateDocuments","Documents")"><i class="fa fa-file"></i> <span>Dokumenta Private</span></a></li>
            </ul>
        </li>
        <li><a href="@Url.Action("Index","Finances")"><i class="fa fa-money"></i> <span>Financat</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-users"></i> <span>Rolet</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index","Roles")">Lista e roleve</a></li>
                <li><a href="@Url.Action("Create","Roles")">Shto rol</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-building"></i> <span>Shkollat</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index","School")">Lista e shkollave</a></li>
                <li><a href="@Url.Action("Create","School")">Shto shkolle</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-building"></i> <span>Klasat</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index","Class")">Lista e klasave</a></li>
                <li><a href="@Url.Action("MyClasses","Class")">Lista e klasave te mia</a></li>
                <li><a href="@Url.Action("Create","Class")">Shto klase te re</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i> <span>Lendet</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Index","Subjects")"><i class="fa fa-book"></i> <span>Lendet Mesimore</span></a></li>
                <li><a href="@Url.Action("AddSubject","Subjects")"><i class="fa fa-book"></i> <span>Shto Lende</span></a></li>
            </ul>
        </li>
        
    }

</ul>
