@model IEnumerable<HighSchoolApplication.API.Models.FinancesModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Data
            </th>
            <th>
                Pershkrimi
            </th>
            <th>
               Vlera
            </th>
            <th>
                Krijuar
            </th>
            <th>
                Modifikuar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
        </tr>
}
    </tbody>
</table>
