@model IEnumerable<HighSchoolApplication.Infrastructure.Models.Documents>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3>Lista e dokumentave</h3>
            <div class="box-tools pull-right">
                <a asp-action="Create" class="btn btn-primary">Shto dokument te ri</a>
            </div>
        </div>
        <div class="box-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Pershkrimi
                        </th>
                        <th>
                            URL Dokumenti
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentUrl)
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-id="@item.DocumentId">Edit</a>
                                <a asp-action="Details" class="btn btn-sm btn-success" asp-route-id="@item.DocumentId">Details</a>
                                <a asp-action="Delete" class="btn btn-sm btn-danger" asp-route-id="@item.DocumentId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
    </section>
